## 1. Introduction to the problem

### 1.1 Importing necessary libraries and loading stocks data.

In [1]:
import pandas as pd
stock = pd.read_csv("D:/Datasets/AMZN.csv")
stock.head()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity
0,"Oct 24, 2019","1,780.78","1,770.78","1,787.97","1,760.78",5.20M
1,"Oct 23, 2019","1,762.17","1,761.30","1,770.05","1,742.00",2.19M
2,"Oct 22, 2019","1,765.73","1,788.15","1,789.78","1,762.00",2.23M
3,"Oct 21, 2019","1,785.66","1,769.66","1,785.88","1,765.00",2.22M
4,"Oct 18, 2019","1,757.51","1,787.80","1,793.98","1,749.20",3.37M

Checking the dimensions of data.

In [2]:
stock.shape

(503, 6)

Checking the presence of Null values.

In [3]:
stock.isnull().sum()

Date                     0
Close Price              0
Open Price               0
High Price               0
Low Price                0
Total Traded Quantity    0
dtype: int64

Finding number of categories in each column.

In [4]:
stock.nunique()

Date                     503
Close Price              496
Open Price               487
High Price               496
Low Price                498
Total Traded Quantity    343
dtype: int64

Displying the basic statistical data.

In [5]:
stock.describe()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity
count,503,503,503,503,503,503
unique,503,496,487,496,498,343
top,"Sep 30, 2019","1,886.52","1,623.00","1,956.00","1,626.01",4.86M
freq,1,2,3,2,2,5

#### By observing the above statistics it is clear that something is not right ! Let's check the datatypes of each variable.

In [6]:
stock.dtypes

Date                     object
Close Price              object
Open Price               object
High Price               object
Low Price                object
Total Traded Quantity    object
dtype: object

#### Oops! the datatype of price variables is given as object and the date variable as also object.

In [7]:
stock['Date'] = stock['Date'].astype('datetime64')
stock = stock.replace([',','M'],'',regex=True)

##### What we have done above is removing the extra unnecessary characters in the cells of variables which may further cause errors while changing the datatype of variables.

Let's change the variables to their specific type and check the result.

In [8]:
stock['Close Price'] = stock['Close Price'].astype('float64')
stock['Open Price'] = stock['Open Price'].astype('float64')
stock['High Price'] = stock['High Price'].astype('float64')
stock['Low Price'] = stock['Low Price'].astype('float64')
stock['Total Traded Quantity'] = stock['Total Traded Quantity'].astype('float64')

In [9]:
stock.describe()

,Close Price,Open Price,High Price,Low Price,Total Traded Quantity
count,503.000000,503.000000,503.000000,503.000000,503.000000
mean,1657.415964,1658.401809,1674.438171,1638.693459,4.820656
std,237.374706,238.679074,238.361157,237.377795,2.350537
min,972.430000,978.000000,982.900000,966.240000,1.590000
25%,1534.030000,1541.495000,1559.095000,1509.605000,3.135000
50%,1698.750000,1702.950000,1715.270000,1680.890000,4.270000
75%,1832.310000,1832.990000,1845.560000,1816.800000,5.820000
max,2039.510000,2038.110000,2050.500000,2013.000000,16.570000

Now the statistics are meaningful !

### 1.2 Calculate the min, max, and average  price of last 90 days.

In [10]:
len(stock.Date.unique())

503

In [11]:
stock.head(10)

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity
0,2019-10-24,1780.78,1770.78,1787.97,1760.78,5.20
1,2019-10-23,1762.17,1761.30,1770.05,1742.00,2.19
2,2019-10-22,1765.73,1788.15,1789.78,1762.00,2.23
3,2019-10-21,1785.66,1769.66,1785.88,1765.00,2.22
4,2019-10-18,1757.51,1787.80,1793.98,1749.20,3.37
5,2019-10-17,1787.48,1796.49,1798.85,1782.02,2.71
6,2019-10-16,1777.43,1773.33,1786.24,1770.52,2.80
7,2019-10-15,1767.38,1742.14,1776.45,1740.62,3.13
8,2019-10-14,1736.43,1728.91,1741.89,1722.00,1.93
9,2019-10-11,1731.92,1742.92,1745.45,1729.86,3.28

#### That clearly mean that dates are in sorted order ...so in order calculate the max, min, and average of last 90 days we can make calculations on the top 90 observations.

In [12]:
Top90 = stock.iloc[0:90,1]
print("Max closing price for the past 90 days: ",Top90.max())
print("Min closing price for the past 90 days: ",Top90.min())
print("Average closing price for the past 90 days: ",Top90.mean())

Max closing price for the past 90 days:  2020.99
Min closing price for the past 90 days:  1705.51
Average closing price for the past 90 days:  1837.3786666666665

### 1.3 Analyse the datatypes of each column.

In [13]:
stock.dtypes

Date                     datetime64[ns]
Close Price                     float64
Open Price                      float64
High Price                      float64
Low Price                       float64
Total Traded Quantity           float64
dtype: object

In [14]:
stock.Date.max() - stock.Date.min()

Timedelta('729 days 00:00:00')

**From the above result it is clear that the data is about 2 years of stocks of Amazon**

### 1.4 Calculating monthwise VWAP (Volume Weighted Average Price)

In [15]:
stock['Month'] = stock.Date.dt.month
stock['Year'] = stock.Date.dt.year
stock.head()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Month,Year
0,2019-10-24,1780.78,1770.78,1787.97,1760.78,5.20,10,2019
1,2019-10-23,1762.17,1761.30,1770.05,1742.00,2.19,10,2019
2,2019-10-22,1765.73,1788.15,1789.78,1762.00,2.23,10,2019
3,2019-10-21,1785.66,1769.66,1785.88,1765.00,2.22,10,2019
4,2019-10-18,1757.51,1787.80,1793.98,1749.20,3.37,10,2019

In [16]:
stock[['Month','Year']].nunique()

Month    12
Year      3
dtype: int64

In [17]:
month_grouped = stock.groupby(['Month','Year'])['Close Price','Open Price','High Price','Low Price','Total Traded Quantity']

**Formula for VWAP : sum(price * volume)/sum(volume)**

`price = closing price` unless stated otherwise.

In [18]:
def f(x):
    d = {} 
    d['vwap'] = ((x['Close Price'] * x['Total Traded Quantity']).sum())/(x['Total Traded Quantity'].sum())
    return pd.Series(d)

month_grouped.apply(f)

                   vwap
Month Year
1     2018  1325.024888
      2019  1638.559296
2     2018  1427.441359
      2019  1625.996595
3     2018  1524.642924
      2019  1726.277252
4     2018  1470.974160
      2019  1873.321533
5     2018  1593.885567
      2019  1873.657057
6     2018  1698.346756
      2019  1831.264732
7     2018  1795.434753
      2019  1964.524036
8     2018  1904.010648
      2019  1792.626750
9     2018  1965.231770
      2019  1793.628218
10    2017  1071.787264
      2018  1745.244970
      2019  1747.903964
11    2017  1145.640584
      2018  1626.608103
12    2017  1165.894982
      2018  1544.850789

### 1.5 Define functions for calculating average price and profit/loss percentage.

#### 1.5.1 Function for calculating average price of last N days.

In [19]:
def avg(N):
    return stock['Close Price'].head(N).mean()
print("The average price for last 1 week is {}".format(avg(7)))
print("The average price for last 2 weeks is {}".format(avg(14)))
print("The average price for last 1 month is {}".format(avg(30)))
print("The average price for last 3 months is {}".format(avg(90)))
print("The average price for last 6 months is {}".format(avg(180)))
print("The average price for last 1 year is {}".format(avg(365)))

The average price for last 1 week is 1773.8228571428572
The average price for last 2 weeks is 1752.350714285714
The average price for last 1 month is 1761.5049999999999
The average price for last 3 months is 1837.3786666666665
The average price for last 6 months is 1813.4337777777773
The average price for last 1 year is 1772.908219178082

#### 1.5.2 Function for calculating profit/loss percentage.

In [20]:
#Let's make a column that contain profit/loss percentage of each day.
pf ={}
pf['Profit/Loss'] = (stock['Close Price'] - stock['Close Price'].shift(1))/stock['Close Price']

In [21]:
def PL(N):
    return pf['Profit/Loss'].iloc[0:N].sum()
print("The profit/loss percentage for last 1 week is {}".format(PL(7)))
print("The profit/loss percentage for last 2 weeks is {}".format(PL(14)))
print("The profit/loss percentage for last 1 month is {}".format(PL(30)))
print("The profit/loss percentage for last 3 months is {}".format(PL(90)))
print("The profit/loss percentage for last 6 months is {}".format(PL(180)))
print("The profit/loss percentage for last 1 year is {}".format(PL(365)))

The profit/loss percentage for last 1 week is -0.0022881285225075064
The profit/loss percentage for last 2 weeks is -0.028169128073749362
The profit/loss percentage for last 1 month is 0.030509144382604513
The profit/loss percentage for last 3 months is 0.0627774351934302
The profit/loss percentage for last 6 months is -0.13022601054936392
The profit/loss percentage for last 1 year is -0.19234204335873778

### 1.6 Adding the column 'Day_Perc_Change'

In [22]:
stock['Day_Perc_Change']=stock['Close Price'].pct_change()
stock.head()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Month,Year,Day_Perc_Change
0,2019-10-24,1780.78,1770.78,1787.97,1760.78,5.20,10,2019,NaN
1,2019-10-23,1762.17,1761.30,1770.05,1742.00,2.19,10,2019,-0.010450
2,2019-10-22,1765.73,1788.15,1789.78,1762.00,2.23,10,2019,0.002020
3,2019-10-21,1785.66,1769.66,1785.88,1765.00,2.22,10,2019,0.011287
4,2019-10-18,1757.51,1787.80,1793.98,1749.20,3.37,10,2019,-0.015764

In [23]:
stock.fillna(0,inplace=True)

In [24]:
stock.head()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Month,Year,Day_Perc_Change
0,2019-10-24,1780.78,1770.78,1787.97,1760.78,5.20,10,2019,0.000000
1,2019-10-23,1762.17,1761.30,1770.05,1742.00,2.19,10,2019,-0.010450
2,2019-10-22,1765.73,1788.15,1789.78,1762.00,2.23,10,2019,0.002020
3,2019-10-21,1785.66,1769.66,1785.88,1765.00,2.22,10,2019,0.011287
4,2019-10-18,1757.51,1787.80,1793.98,1749.20,3.37,10,2019,-0.015764

### 1.7 Adding column 'Trend'

In [25]:
def trend_func(df):
    if (df['Day_Perc_Change'] > -0.5) and (df['Day_Perc_Change'] < 0.5):
        return 'Slight or No change'
    elif (df['Day_Perc_Change'] > 0.5) and (df['Day_Perc_Change'] < 1):
        return 'Slight positive'
    elif (df['Day_Perc_Change'] < -0.5) and (df['Day_Perc_Change'] > -1):
        return 'Slight negative'
    elif (df['Day_Perc_Change'] > 1) and (df['Day_Perc_Change'] < 3):
        return 'Positive'
    elif (df['Day_Perc_Change'] < -1) and (df['Day_Perc_Change'] > -3):
        return 'Negative'
    elif (df['Day_Perc_Change'] > 3) and (df['Day_Perc_Change'] < 7):
        return 'Among top gainers'
    elif (df['Day_Perc_Change'] < -3) and (df['Day_Perc_Change'] > -7):
        return 'Among top losers'
    elif df['Day_Perc_Change'] > 7: 
        return 'Bull run'
    else:
        return 'Bear drop'

In [26]:
stock['Trend']=stock.apply(trend_func,axis=1)

In [27]:
stock.head()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Month,Year,Day_Perc_Change,Trend
0,2019-10-24,1780.78,1770.78,1787.97,1760.78,5.20,10,2019,0.000000,Slight or No change
1,2019-10-23,1762.17,1761.30,1770.05,1742.00,2.19,10,2019,-0.010450,Slight or No change
2,2019-10-22,1765.73,1788.15,1789.78,1762.00,2.23,10,2019,0.002020,Slight or No change
3,2019-10-21,1785.66,1769.66,1785.88,1765.00,2.22,10,2019,0.011287,Slight or No change
4,2019-10-18,1757.51,1787.80,1793.98,1749.20,3.37,10,2019,-0.015764,Slight or No change

### 1.8 Finding average and median values of the column 'Total Trading Quantity'.

In [28]:
print("Average Trading quantity:")
stock.groupby('Trend')['Total Traded Quantity'].mean()

Average Trading quantity:

Trend
Slight or No change    4.820656
Name: Total Traded Quantity, dtype: float64

In [29]:
print("Median Trading quantity:")
stock.groupby('Trend')['Total Traded Quantity'].median()

Median Trading quantity:

Trend
Slight or No change    4.27
Name: Total Traded Quantity, dtype: float64

In [30]:
stock.to_csv("week2.csv",index = False)